results/*
!results/.gitkeep

resultsobal/*
!resultsobal/.gitkeep

testcases/*.mat
experimento_assimetrico.sh
ideia
m.sh
runner.sh
runnerobal.sh
sss.sh
env/*.txt

chainresults.txt
experimento_assimetrico_obal.sh
hyptests.jl
hyptests.txt
medians.jl
medians.txt
obalresults.txt